.notification-container{

    .notification-error{
        .notification-message{
            h4{
                color: white !important;
            }
        }
    }


}
.notification-container{
    .notification-success{
        .notification-message{
            h4{
                color: white !important;
            }
        }
    }
}
.notification-container{
    .notification-alert{
        .notification-message{
            h4{
                color: white !important;
            }
        }
    }
}